@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=DM+Serif+Text:ital@0;1&family=Kaushan+Script&family=Lexend:wght@100..900&family=Oswald:wght@200..700&family=Pinyon+Script&family=Roboto:ital,wght@0,100..900;1,100..900&family=Volkhov:wght@400;700&display=swap');

body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 600px;
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    color: #fff;
    background-color: #333;
    border-radius: 5px;
    padding: 5px;
    border: #333 solid 2px;
}

a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    font-weight: 700;
}

img {
    display: block;
    width: 210px;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    border: #333 solid 5px;
}

img:hover {
    transform: scale(1.1);
    transition: transform 1.5s ease;
}

.info {
    background-color: #333;
    padding: 20px;
    border-radius: 5px;
    overflow: hidden;
    width: 300px;
}