* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

.container-card {
    background: radial-gradient(circle at center, #e7e88f, #fa6a6a);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    width: 600px;
    height: 400px;
    border-bottom: #333 solid 15px;
    /* border-top: #333 solid 15px; */
}

.card {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

h1 {
    font-size: 36px;
    text-align: center;
    font-weight: 900;
    color: #333;
    border-radius: 5px;
    margin-top: 0;
}

a {
    display: block;
    color: #333;
    text-decoration: none;
    font-weight: 700;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    font-weight: 700;
}

img {
    display: block;
    width: 210px;
}

.img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

img:hover {
    transform: scale(1.1);
    transition: transform 1.5s ease;
}

.info {
    /* background-color: #333; */
    /* border: #333 solid 1px; */
    padding: 10px;
    border-radius: 5px;
    overflow: hidden;
    width: 320px;
    border-right: #333 solid 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.fa-envelope {
    color: rgb(232, 71, 71);
    font-size: 26px;
    padding-right: 5px;
}

.fa-brands {
    color: #25D366;
    font-size: 26px;
}

.fa-solid {
    color: #ad09b9;
    font-size: 26px;
    padding-right: 10px;
}

@media (max-width: 480px) {
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 20px;
    }

    .container-card {
        background: radial-gradient(circle at center, #e7e88f, #fa6a6a);
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: 20px auto;
        width: 600px;
        border-bottom: #333 solid 15px;
        border-top: #333 solid 15px;
    }

    .card {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }

    h1 {
        font-size: 36px;
        text-align: center;
        font-weight: 900;
        color: #333;
        border-radius: 5px;
    }

    a {
        display: block;
        color: #333;
        text-decoration: none;
        font-weight: 700;
        margin-top: 10px;
        font-size: 18px;
        line-height: 1.5;
    }

    a:hover {
        text-decoration: underline;
    }

    p {
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        font-weight: 700;
    }

    img {
        display: block;
        width: 210px;
    }

    .img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }

    img:hover {
        transform: scale(1.1);
        transition: transform 1.5s ease;
    }

    .info {
        /* background-color: #333; */
        /* border: #333 solid 1px; */
        padding: 10px;
        border-radius: 5px;
        overflow: hidden;
        width: 300px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
}